
#content {
  margin-left: auto;
  line-height: 1.6;
  font-family: sans-serif;
  margin-right: auto;
  width: 700px;
}

.img1 {
  border-radius: 25px;
  padding: 10px;
  float: right;
}

#intro {
  text-align: center;
}
.clearfix {
  overflow: auto;
}

#food-container {
  margin-top: 20px;
}

#home {
  font-family: serif;
  text-align: center;
  padding-top: 60px;
  color: #2d2075;
}

#projects {
  padding-top: 60px;
  font-family: serif;
  text-align: center;
  color: #2d2075;
}

#cooking {
  padding-top: 60px;
  font-family: serif;
  text-align: center;
  color: #2d2075;
}

#gallery {
  padding-top: 60px;
  font-family: serif;
  text-align: center;
  color: #2d2075;
}

#contact {
  padding-top: 60px;
  font-family: serif;
  text-align: center;
  color: #2d2075;
}

#navbar {
  z-index: 9999;
  position: fixed;
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2d2075;    
}

.heading {
  float:right;
}

.heading_main {
  float: left;
}

.heading_main a {
  display: block;
  padding: 16px 18px;
  text-align: center;
  color:white;
  text-decoration: none;    
}
.heading a {
  display: block;
  padding: 16px 18px;
  text-align: center;
  color:white;
  text-decoration: none;
}

.heading a:hover {
  background-color: #5d4ead;
}

.column {
  box-sizing: border-box;
  -ms-flex: 30%; /* IE 10 */
  flex: 30%;
  padding: 0 4px;
}

.column img {
  width: 30%;
  height: auto; 
  margin-top: 8px;
  vertical-align: middle;
}

.column img:hover {
  opacity: 0.7;
}

.row:after {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.fa {
  padding: 20px;
  font-size: 18px;
  border-radius: 25px;
  width: 200px;
  height: 15px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-instagram {
  background: gainsboro;
  color:blue;
}

.fa-instagram:hover {
  background:grey;
  color:blue;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow {
  max-width: 350px;
  max-height: 250px;
  position: relative;
}

.slide {
  width:100%;
}
.mySlides {
  max-width: 350px;
  max-height: 250px;
  object-fit: cover;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#msg-container {
    margin-top: 20px;
}
